@import "tailwindcss";

@layer utilities {
  .animate-in{
    animation-fill-mode: both;
  }

  .slide-in-from-top{
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom{
    animation-name: slideInFromBottom;
  }

  .duration-300{
    animation-duration: 300ms;
  }
  
  .duration-600{
    animation-duration: 600ms;
  }
  
  .duration-1000{
    animation-duration: 1000ms;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(2.3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}